@import url("../node_modules/@fontsource/poppins/index.css");

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

i {
  font-style: inherit;
}

h1 {
  padding: 1rem;
}

button {
  background-color: inherit;
  border: 0;
}
